@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "elegant-icons.css";
@import "magnific-popup.css";
@import "slicknav.min.css";
@import "owl.carousel.min.css";
@import "jquery-ui.min.css";
@import "style.css";
@import "register.css";
@import "cartlist.css";
